:root {
    --white: #fff;
    --black: #131515;
    --black2: #1C1C1C; 
    --cinza-claro: #f2f2f2;
    --grey: #b2bec3;
    --grey2: #222f3e;
    --grey3: #808080;
    --red: #ff4757;
    --light-red: #ff6348;
}